.a1 {
    grid-area: a1;
}
.a2 {
    grid-area: a2;
}
.b1 {
    grid-area: b1;
}
.b2 {
    grid-area: b2;
}
.c1 {
    grid-area: c1;
}
.c2 {
    grid-area: c2;
}
.d1 {
    grid-area: d1;
}
.d2 {
    grid-area: d2;
}
.e1 {
    grid-area: e1;
}
.e2 {
    grid-area: e2;
}
.f1 {
    grid-area: f1;
}
.f2 {
    grid-area: f2;
}
.g1 {
    grid-area: g1;
}
.g2 {
    grid-area: g2;
}
.h1 {
    grid-area: h1;
}
.h2 {
    grid-area: h2;
}

.grid {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr;
    grid-template-areas:  "a1" "a2" "b1" "b2" "c1" "c2" "d1" "d2" "e1" "e2" "f1" "f2" "g1" "g2" "h1" "h2";
}

@media screen and (min-width: 48em) {  
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a1 a2" "b2 b1" "c1 c2" "d2 d1" "e1 e2" "f2 f1" "g1 g2" "h2 h1";
    }
}